@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-main: #1ABC9C;
    --color-text: #6b7c93;
}

body {
    background-color: #f6fcf9;
    font-family: 'Inter', sans-serif;;
}

h1 {
    color: var(--color-text);
    font-size: 1.7rem;
    margin: 60px 0 40px 0;
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 400px;
}

.item-list{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(55, 90, 50, 0.1);
    margin-bottom: 20px;
    padding: 1rem;
    transition: .3s ease-in-out;  
}

.item-list:hover{
    background-color: var(--color-main);
}

.item-list:hover .title,
.item-list:hover .card-content{
    color: white;
}

.title{
    color: var(--color-main);
    cursor: pointer;
    font-family: monospace;
    font-size: 1.4rem;
    padding: 10px;
}

.title::after{
    content: '+';
    float: right;
    transition: .5s ease;
}

.card-content{
    color: var(--color-text);
    display: none;
    font-size: 0.9rem;
    line-height: 1.6rem;
    padding: 0.8rem;
}

/*hiding checkbox input */
.trigger-input{
    display: none;
}

/* this will make the content appear when the checkbox is checked */
.trigger-input:checked + .trigger-wrapper .card-content{
    display: block;
}

/* this will make the "::after" content rotates when the checkbox is checked */
.trigger-input:checked + .trigger-wrapper .title::after{
    transform: rotate(45deg) scale(1);
}
